body {
  background-attachment: fixed;
  font-family: "Luckiest Guy", cursive;
  background-color: #0987FD;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link {
  transition: 0.4s;
}

.nav-link:hover {
  transition: 0.4s;
  color: #acacac;
}

.color {
  background-color: #0987FD;
  color: #FFFFFF
}

.white {
  background-color: #FFFFFF;
  color: #0987FD;
}

/* sections */

.header {
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  font-size: 2rem;
  /* affects color title */
  color: #FFFFFF;
}

.navbar-brand:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.nav-item {
  /* padding-left: 6%; */
  padding-left: 10rem;
}

.navbar-custom {
  background-color: #0987FD;
  font-size: 1.5rem;
}

.store-info {
  width: 100%;
  line-height: 0.8;
}

.square {
  text-align: center;
  width: 200px;
  margin-left: 2.5rem;
  /* background-color: red; */
}

.address {
  padding-left: 3.2rem;
}


/* ----------------------HOOK ------------------------*/
.one-pic-wheel {
  width: 100%;
  padding-top: 0.5%;
  height:480px;
  background: url('images/new_comics.jpg') no-repeat center, url("images/dnd_merch.jpg") no-repeat left, url("images/comics.jpg"), no-repeat right;
  background-size: 50%;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}


/*------------------- STORE INFO -----------------------*/

.info-section {
  width:100%;
  background-size: cover;
  display: flex;
  flex: 1;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  /* background-color: blue; */
}

.info {
  text-align: center;
  width: 100%;
  overflow: hidden;
  padding-left: 7.5%;
  padding-top: 1.3%;
  font-weight: lighter;
  /* color: gray; */
  /* background-color: red; */
}

.info-title {
  /* color: black; */
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.4s;
}

.link:hover {
  transition: 0.4s;
  color: #acacac;
}


/****************************************************** ABOUT US *******************************************/

.about {
  text-align: center;
  padding-top: 1.5rem;
  overflow: hidden;
  padding-bottom: 2.8rem;
}

.ac-logo {
  width: 15%;
}

.pic-g {
  padding: 2px;
  width: 30%;
  /* background-color: white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.greeting {
  padding: 0 8% 0 8%;
  font-size: 1.8rem;
}

.greeting-header {
  color: #0270d7;
  font-family: "Bungee Shade", cursive;
}

/********************************************* EVENTS **********************************/

.events {
  padding-top: 1.5rem;
  background-color: #0987FD;
  width: 100%;
  text-align: center;
}

#carouselExampleIndicators {
  padding-top: 1rem;
}

.events-h1 {
  padding-top: 1rem;
  text-decoration: underline;
}

.carousel-item {
  padding-bottom: 0.5rem;
}

/* #carouselExampleIndicators {
  padding-bottom: 5rem;
} */

.pic {
  object-fit: fill;
  width: 40rem;
  height: 33rem;
  padding: 2px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-details {
  padding: 0rem 10rem 2rem;
  /* padding-bottom: 2rem; */
  width:100%;
  /* background-size: cover; */
  display: flex;
  flex: 1;
  text-align: center;
}

.cal {
  text-align: center;
  width: 100%;
  overflow: hidden;
  padding-top: 1.3%;
  /* font-weight: lighter; */
  line-height: 1
}


/************************************ FOOTER ********************************/
.end {
  background-;
  width:100%;
  background-size: cover;
  display: flex;
  flex: 1;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.close {
  width: 100%;
  color: #0987FD;
}

footer {
  color: #0987FD;
  background-;
  padding-top: 3.6rem;
  padding-bottom: 2rem;
}

.social-f {
  text-align: center;
}

.foot {
  color: #0987FD;
  padding-left: 2rem;
  /* background-color: red; */
}

.insta {
  vertical-align: super;
}

.detes {
  padding-top: 3rem;
  text-align: center;
}

.find-us {
  width: 100%;
  display: flex;
  flex: 1;
  text-align: center;
}

.bot {
  width: 50%;
  color: #6ab6fe;
  line-height: 0.2;
  font-size: 0.85rem;
}

@media screen and (max-width: 850px) {

  body {
    font-size: 1.3rem;
  }

  .ac-logo {
    width: 40%;
  }

  .event-details {
    padding: 0rem 1.5rem 0rem 1.5rem;
    display: block;
  }

  .cal {
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding-top: 1.3%;
    /* font-weight: lighter; */
    line-height: 1;
  }


  .pic-g {
    width: 75%;
  }

  .one-pic-wheel {
    width: 100%;
    padding-top: 0.5%;
    height:480px;
    background: url('images/new_comics.jpg');
    background-size: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; */
  }

}
