body {
  background-color: #ED1D24;
  font-family: 'Bangers', cursive;
  padding-left: 2.5rem;
  margin-left: 24rem;
  margin-right: 15rem;
  padding-bottom: 5rem;
}

h2 {
  color: #FFFFFF;
  font-family: 'Bangers', cursive;
}

.txt {
  color: #FFFFFF;
  font-family: 'Bangers', cursive;
}

.option {
  background-color: #ED1D24;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 12px;
  font-size: 0.95rem;
}

.questions {
  padding-bottom: 0.8rem;
}

.play-again {
  padding-top: 2rem;
}

.again {
  background-color: #ED1D24;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 12px;
  position: relative;
  left: 9rem;
  font-size: 3.5rem;
}
.again:hover {
  font-size: 3.7rem;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
